@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.woff") format("woff"), 
            url("../fonts/OpenSans-Regular.woff2") format("woff"),
            url("../fonts/OpenSans-Regular.ttf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.woff") format("woff"), 
            url("../fonts/OpenSans-Bold.woff2") format("woff"),
            url("../fonts/OpenSans-Bold.ttf") format("opentype");
    font-weight: bold;
}
