@media (max-width: 1119px) {
    body {
        font-size: 2.3vw;
    }

    /* page header */

    .center-wrapper {
        max-width: 91vw;
        margin: 0 auto;
        margin-bottom: 6vw;
        padding: 0;
    }

    .main-header {
        background-image: url("../images/banner-bg-tablet.jpg");
        background-position: center;
        padding-bottom: 8.5vw;
    }

    .topic-container {
        padding-top: 5.3vw;
    }

    .main-header .topic {
        margin-top: 11vw;
        width: 80vw;
    }

    .main-header .topic-header {
        font-size: 5.2vw;
        line-height: 1.4em;
        margin: 0;
        padding: 0;
    }

    .navbar-item {
        font-size: 1.6vw;
        margin-left: 0;
        margin-right: 15%;
    }

    .navbar-item:last-child {
        margin-right: 8%;
    }

    .navbar {
        display: flex;
        justify-content: flex-end;
    }

    
    .menu {
        display: inline-block;
        width: 1.6em;
        height: 1.6em;  
        border: none;
        padding: 0;
    
        background-color: transparent;
        font-size: 2vw;
        position: relative;
        text-indent: -9999px;
        cursor: pointer;
    }
  
    .menu:before, .menu:after, .menu-label {
        content:"";
        width: 100%;
        height: 15%;
    
        background-color: #ffffff;  
    
        position: absolute;
        left: 0;
    }
  
    .menu:before {
        top: 0;
    }
  
    .menu:after {
        bottom: 0;
    }
    
    .menu-label {
        margin-top: -0.125em;  
        top: 50%;
    }


    .logo {
        width: 19.7vw;
    }


    /* trends */
    .title-header {
        margin-top: 1.5%;
        font-size: 2.3vw;
    }

    .title-header::after {
        width: 8.6vw;
        height: 0.3vw;
    }

    .trends .post-info {
        border: 0.4vw solid #918156;
    }

    /* main content*/
    body > .center-wrapper {
        margin-top: 6vw;
        margin-bottom: 6vw;
    }

    .main-posts {
        width: 50vw;
    }

    .main-posts .post {
        flex-direction: column;
    }

    .main-posts .post-image {
        margin: 0;
        margin-bottom: 3%;
        width: 49.5vw;
        height: 39vw;
        background-color: #eff6f1;
    }

    .main-posts .post-title {
        font-size: 2.2vw;
    }

    .publication {
        font-size: 1.6vw;
    }

    .main-posts .post-description {
        padding-right: 1%;
        margin-top: 6%;
        font-size: 1.9vw;
        border-bottom: 0.4vw solid #eeeeee;
    }

    /* aside*/
    .sidebar {
        width: 35.3vw;
    }

    .sidebar .post-image {
        max-width: 9.1vw;
        max-height: 9.1vw;
        margin-right: 7%;
    }

    .sidebar .title {
        margin-bottom: 8%;
    }

    .sidebar .post-title {
        font-size: 1.82vw;
    }

    .sidebar .title-header { 
        font-size: 1.82vw;
    }

    .sidebar .post {
        font-size: 1.6vw;
    }

    .sidebar .flex-container:first-child {
        margin-top: 0;
    }

    .sidebar .flex-container {
        margin-top: 15%;
    }

    .button {
        font-size: 1.7vw;
    }

    .input {
        font-size: 1.7vw;
    }

    .sidebar .tags-item {
        font-size: 1.6vw;
    }

    .sidebar .category-item {
        border-bottom: 0.3vw solid #eeeeee;
        
    }

    .sidebar .category-list {
        font-size: 1.8vw;
    }

    .sidebar .counter {
        font-size: 1.6vw;
    }

    /* main shop*/

    .produce .item {
        margin-top: 2.5%;
    }

    .produce .title {
        margin-bottom: 0;
    }

    .produce .detail {
        margin-top: -13%;
        border: 0.4vw solid #b59f5b;
        width: 39vw;
        padding: 2vw;
        height: 29vw;
    }

    .produce .title-detail {
        font-size: 2.2vw;
    }

    .produce-image {
        width: 39vw;
        background-color: #eff6f1;
    }

    .produce .detail .description {
        font-size: 2vw;
    }

    .produce .item .button {
        width: 18.3vw;
    }

    .produce .detail .price-block {
        font-size: 1.8vw;
    }

    .produce .price {
        font-size: 2.6vw;
    }

    /*footer*/
    footer > .center-wrapper {
        padding-bottom: 4vw;
    }
    
    footer .social {
        margin-bottom: 5vw;
    }


    footer .links {
        margin: 3.5%;
    }

    footer .links-item {
        margin-right: 3vw;
    }

    footer .copyright {
        font-size: 1.6vw;
    }

    footer .social .link {
        padding: 0;
        display: inline-block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 2.7vw;
        height: 2.7vw;
    }


    /* popup */

    .popup {
        font-size: 1.7vw;
        top: 30.2vw;
        width: 52vw;
        left: calc(50% - 52vw / 2);
    }

    .popup .feedback {
        padding-top: 8%;
    }

    .popup .input-field {
        margin-top: 6%;
        margin-bottom: 5%;
    }

    .popup .select-answer {
        background-size: 1.2vw;
        background-position: right 3% center;
    }
    
    .radio-text::before {
        width: 3vw;
        height: 3vw;
        background-size: 3vw;
    }

    .text-area {
        height: 12.8vw;
    }

    .submit {
        margin-top: 1%;
        margin-bottom: 6%;
    }

    .close {
        width: 2em;
        height: 2em;
        font-size: 3vw;

        top: -6.2vw;
        right: -1vw;  
        background-size: 4vw;
    }
}

/* device adaptive*/
@media (max-width: 1119px) and (orientation:portrait) {
    .trends .post {
        width: 49.8%;
        min-height: 32.5vw;
        margin-top: 0.3%;
        background-position: bottom center;
    }
     
    .trends .post-header {
        font-size: 2.2vw;
    }

    .trends .post:nth-child(2n) {
        margin-right: 0;
    }

    .category {
        font-size: 1.8vw;
    }
}

@media (max-width: 1119px) and (orientation:landscape) {
    .trends .post {
        width: 24.8%;
        min-height: 32.5vh;
    }

    .trends .post-header {
        font-size: 2.2vh;
    }

    .trends .post:nth-child(4n) {
        margin-right: 0;
    }

    .category {
        font-size: 1.8vh;
    }
}


@media (max-width: 640px) and (orientation:portrait) {
    .trends .post {
        width: 99.6%;
        min-height: 32.5vw;
        margin-top: 0.3%;
        background-position: bottom center;
    }
     
    .trends .post-header {
        font-size: 2.2vw;
    }

    .trends .post:nth-child(2n) {
        margin-right: 0;
    }

    .category {
        font-size: 1.8vw;
    }
}


@media (max-width: 640px) and (orientation:landscape) {
    .trends .post {
        width: 49.8%;
        min-height: 32.5vh;
        margin-top: 0.3%;
        background-position: bottom center;
    }
     
    .trends .post-header {
        font-size: 2.2vh;
    }

    .trends .post:nth-child(2n) {
        margin-right: 0;
    }

    .category {
        font-size: 1.8vh;
    }
}