@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.woff") format("woff"), 
            url("../fonts/OpenSans-Regular.woff2") format("woff"),
            url("../fonts/OpenSans-Regular.ttf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.woff") format("woff"), 
            url("../fonts/OpenSans-Bold.woff2") format("woff"),
            url("../fonts/OpenSans-Bold.ttf") format("opentype");
    font-weight: bold;
}

body {
    font-family: "Open Sans";
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

.main-header {
    position: relative;
    width: 100%;
    height: 27.1vw;
    background-color: gray;
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.main-header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #000;
    opacity: 0.6;
}

.center-wrapper {
    margin: 0 13.8vw;
    padding: 1.5vw 1vw;
    height: 100%;
    /*background-color: green;*/
    box-sizing: border-box;
}

.main-header .container{
    margin-top: 6vw;
    /*background-color: khaki;*/
}

.main-header .title {
    margin: 0 auto;
    /*background-color: green;*/
    text-align: center;
    width: 41.5vw;
}

.main-header h1 {
    color: #FFF;
    font-weight: bold;
    font-size: 2.7vw;
    line-height: 1.67em;
    text-transform: uppercase;
}


.main-header .panel {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    /*background-color: indianred;*/
}

.main-header .navbar {
    width: 50%;
    display: inline-block;
    /*background-color: blue;*/
}

.main-header .navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    list-style: none;
}

.main-header .navbar li {
    line-height: 2rem;
    list-style: none;
    margin-left: 5%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8vw;
}

.main-header .navbar a {
    color: #FFF;
}

.main-header .logo {
    width: 10.7vw;
    /*background-color: blue;*/
}

main {
    background-color: #FFF;
}

main .trends {
    padding: 0; 
    color: #000;
    text-align: center;
    background-color: #FFF;
    text-transform: uppercase;
}

main .trends .title {
    position: relative;
    height: 7.4vw;
    padding: 0;
}

main .trends h2 {
    position: absolute;
    top: 50%;
    left: calc(50% - 13.8vw/2);
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    font-size: 1.2vw;
    display: inline-block;
}

main .trends h2::after {
    display: block;
    margin: 0 auto;
    margin-top: 0.7vw;
    content: "";
    width: 4vw;
    height: 0.2vw;
    background-color: #e1d9bd;
}

main .trends ul {
    display: flex;
    list-style: none;
}

main .trends .posts {
    height: 19.3vw;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

main .trends .post {
    flex: 1 1 0;
    position: relative;
    min-width: 25%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0.2%;
}

main .trends .post:last-child {
    margin-right: 0;
}

main .trends .post::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #000;
    opacity: 0.6;
}

main .trends .post:nth-child(1) {
    background-image: url("../images/trend1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main .trends .post:nth-child(2) {
    background-image: url("../images/trend2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main .trends .post:nth-child(3) {
    background-image: url("../images/trend3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main .trends .post:nth-child(4) {
    background-image: url("../images/trend4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main .trends .post .info {
    border: 0.2vw solid #918156;
    margin: 5% 5%;
    margin-top: auto;
    position: relative;
    z-index: 1;
    font-weight: bold;
    padding: 5% 5%;
    padding-bottom: 8%;
}

main .trends .post h3 {
    padding: 0;
    margin: 0;
    width: 100%;
    color: #FFF;
    font-size: 1.2vw;
    line-height: 1.2em;
    text-align: start;
}

.category {
    padding: 0;
    margin: 0;
    font-size: 0.8vw;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.8em;
    display: flex;
    list-style: none;
    flex-wrap: wrap;

}

.category a {
    margin: 0;
    padding: 0;
    color: #b59f5b;

}

.category li {
    margin: 0;
    margin-right: 5%;
    padding: 0;
}



main > .center-wrapper {
    display: flex;
    background-color: #FFF;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 3.8vw;
    margin-bottom: 3.8vw;
}

main > .center-wrapper > .posts {
    padding: 0;
    margin: 0;
    margin-right: 10%;
    width: 65%;
}


main > .center-wrapper aside {
    padding: 0;
    margin: 0;
}

main > .center-wrapper > .posts .post {
    display: flex;
    justify-content: space-between;
    height: 18vw;
    padding: 0;
    margin: 0;
    margin-bottom: 8%;
}

main > .center-wrapper > .posts .post-info {
    padding: 0;
    margin: 0;
    margin-top: -0.5%;
}

main > .center-wrapper > .posts .post-title {
    padding: 0;
    margin: 0;
    font-size: 1.2vw;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 1%;
    color: black;
}

main > .center-wrapper > .posts img {
    margin-right: 3%;
    width: 46%;
    background-color: #eff6f1;
}

.publish-date {
    font-size: 0.7vw;
    line-height: 3.3em;
    color: #989898;
    margin-right: 2%;
}

.author {
    font-size: 0.7vw;
    line-height: 3.3em;
    font-weight: bold;
}

main > .center-wrapper > .posts .post-description {
    font-family: "Open Sans";
    padding: 0;
    margin-top: 10%;
    font-size: 0.9vw;
    line-height: 1.5em;
    color: #000;
}

