
body {
    position: relative;
    font-family: "Open Sans";
    font-size: 16px;
    background-color: #FFF;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.center-wrapper {
    max-width: 71vw;
    margin: 0 auto;
    padding: 1.5vw 2vw;
}

/*  header*/
.main-header {
    position: relative;
    width: 100%;
    background-color: gray;
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    padding-bottom: 6.5%;
    
}

.main-header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #000;
    opacity: 0.6;
}

.topic {
    margin: 0 auto;
    margin-top: 8.5%;
    /*background-color: green;*/
    text-align: center;
    width: 41.5vw;
}

.topic-header {
    color: #FFF;
    font-weight: bold;
    font-size: 2.7vw;
    line-height: 1.67em;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.panel {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: inline-block;
    /*background-color: blue;*/
}

.navbar-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.navbar-menu-button {
    display: none;
}

.navbar-item {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 10.5%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8vw;
}

.navbar-item:first-child {
    margin-left: 0;
}

.navbar-menu-link, .navbar-menu-link:hover {
    color: #FFF;
    text-decoration: none;
}

.navbar-menu-link:hover {
    text-decoration: underline;
}

.logo {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 10.7vw;
    /*background-color: blue;*/
}

/* trends*/
.trends {
    margin: 0;
    margin-top: 4%;
    padding: 0; 
    color: #000;
    text-align: center;
    background-color: #FFF;
    text-transform: uppercase;
}

.title {
    position: relative;
    padding: 0;
    margin-bottom: 2%;
}

.title-header {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    font-size: 1.2vw;
    color: #000;
    text-transform: uppercase;
}

.title-header::after {
    display: block;
    margin: 0 auto;
    margin-top: 0.5em;
    content: "";
    width: 4vw;
    height: 0.2vw;
    background-color: #e1d9bd;
}

.trends .posts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.trends .post {
    width: 24.8%;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 0.15%;
    margin-bottom: 0.15%;
    min-height: 19.3vw;
}

.trends .post:nth-child(4n) {
    margin-right: 0;
}

.category {
    padding: 0;
    margin: 0;
    font-size: 0.8vw;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.8em;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.category-item {
    display: inline-block;
    margin: 0;
    margin-right: 5%;
    padding: 0;
}

.category-item:last-child {
    margin-right: 0;
}

.category-link {
    text-decoration: none;
    color: #b59f5b;
}

.category-link:hover {
    text-decoration: underline;
    color: #b59f5b;
}


.trends .post-link {
    color: #FFF;
    text-decoration: none;
}

.trends .post-link:hover {
    color: #b59f5b;
    text-decoration: 0;
}

.trends .post:last-child {
    margin-right: 0;
}

.trends .post::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #000;
    opacity: 0.6;
}

.trends .post-1 {
    background-image: url("../images/trend1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.trends .post-2 {
    background-image: url("../images/trend2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.trends .post-3 {
    background-image: url("../images/trend3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.trends .post-4 {
    background-image: url("../images/trend4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.trends .post-info {
    border: 0.2vw solid #918156;
    margin: 5% 5%;
    position: relative;
    z-index: 1;
    font-weight: bold;
    padding: 8% 4%;
    padding-left: 8%;
}

.trends .post-header {
    padding: 0;
    margin: 0;
    margin-top: 2%;
    width: 100%;
    color: #FFF;
    font-family: "Open Sans";
    font-size: 1.2vw;
    line-height: 1.2em;
    text-align: start;
}

/* main content*/

body > .center-wrapper {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 3.6vw;
    margin-bottom: 3.6vw;
}

.center-wrapper .container {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.post-info {
    padding: 0;
    margin: 0;
}

/*posts*/
.main-posts {
    padding: 0;
    margin: 0;
    width: 47vw;
}

.main-posts .post {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-bottom: 8%;
}

.main-posts .post:last-child {
    margin-bottom: 0;
}

.main-posts .post-title {
    padding: 0;
    margin: 0;
    font-size: 1.2vw;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    margin-bottom: 8%;
}

.main-posts .post-link, .author-link {
    color: #000;
    text-decoration: none;
}

.main-posts .post-link:hover {
    color: #b59f5b;
    text-decoration: none;
}

.main-posts .category {
    margin-bottom: 2%;
}

.main-posts .post-image {
    margin-right: 3%;
    width: 24vw;
    background-color: #eff6f1;
}

.publish-date {
    color: #989898;
    margin-right: 2%;
}

.publication {
    display: flex;
    font-size: 0.7vw;
}

.author {
    font-weight: bold;
}

.main-posts .post-description {
    font-family: "Open Sans";
    padding: 0;
    margin-top: 10%;
    font-size: 0.9vw;
    line-height: 1.5em;
    color: #000;
}

/* aside*/
.sidebar {
    margin: 0;
    padding: 0;
    width: 16.2vw;
}

.sidebar .flex-container {
    margin: 0;
    margin-top: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.sidebar .new-posts {
    width: 100%;
    margin: 0;
    padding: 0;
}

.sidebar .title {
    padding: 0;
    margin-top: 0;
    text-align: center;
    margin-bottom: 12%;
    width: 100%;
}

.sidebar .title-header {
    font-size: 0.8vw;
    line-height: 1.5em;
}

.sidebar .post-info {
    margin: 0;
}

.sidebar .post-title {
    margin: 0;
    bottom: 0;
    font-size: 0.84vw;
    line-height: 1.2em;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
}

.sidebar .post {
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    font-size: 0.8vw;
    margin-bottom: 7%;
}


.sidebar .post-image {
    background-color: #eff6f1;
    margin: 0;
    max-width: 4.7vw;
    max-height: 4.2vw;
    margin-right: 7%;
}

.sidebar .publish-date {
    margin: 0;
    padding: 0;
    display: block;
    margin-bottom: 4%;
    line-height: 0.5em;
}

.button {
    display: block;
    font-family: "Open Sans";
    padding: 0;
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8vw;
    line-height: 3.7em;
    text-decoration: none;
    margin-top: auto;
    background-color: #b59f5b;
    color: #FFF;
    width: 100%;
}

.button:hover {
    background-color: black;
    color: #FFF;
}

.search-button {
    width: 20%;
    text-indent: -9999px;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: left 50% center;
}

.input {
    display: block;
    margin: 0;
    width: 100%;
    font-size: 0.8vw;
    background-color: #f4f7f6;
    border: none;
    font-family: "Open Sans";
    color: #9b9c9c;
    padding: 7%;
}

.input:hover {
    outline: 0.02vw solid #b59f5b;
}

.input:focus {
    outline: 0.02vw solid #b59f5b;
}


.sidebar .search-form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sidebar .search-field {
    width: 100%;
}

.sidebar .submit-form {
    width: 100%;
}

.submit-block .input {
    width: 88%;
    padding: 6%;
}


.submit-block .button {
    margin-top: 7%;
    background-image: none;
}

.sidebar .tags-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.sidebar .tags-item {
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 2%;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 0.7vw;
    padding: 2% 4%;
    border: 0.2vw solid #eeeeee;
    color: black;
}

.sidebar .tags-link:hover, .tags-link {
    color: #000;
    text-decoration: none;
}

.sidebar .tags-item:hover {
    border: 0.2vw solid #b59f5b;
}

.sidebar .category-list {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    font-size: 0.85vw;
    font-weight: bold;
    width: 100%;
}

.sidebar .category-item {
    border-bottom: 0.1vw solid #eeeeee;
    padding-bottom: 3%;
    margin-bottom: 3%;
    width: 100%;
    
}

.sidebar .category-link {
    color: #000;
    text-decoration: none;
}

.sidebar .category-link:hover {
    color: #b59f5b;
    text-decoration: none;
}

.sidebar .counter {
    vertical-align: super;
    font-size: 0.8em;
    color: #b59f5b;
}

/* main shop*/
.produce {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 0; 
    color: #000;
    text-align: center;
    background-color: #FFF;
    text-transform: uppercase;
}

.produce .items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.produce .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.produce-image {
    margin: 0;
    padding: 0;
    width: 18vw;
    background-color: #eff6f1;
}

.produce .detail {
    margin-top: -2vw;
    width: 18vw;
    padding: 1.2vw;
    border: 0.2vw solid #b59f5b;
    font-family: "Open Sans";
    text-align: start;
    color: #000;
    min-height: 13vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.produce .link {
    color: #b59f5b;
    text-decoration: none;
}

.produce .link:hover {
    text-decoration: underline;
}

.produce .title-detail {
    display: inline-block;
    margin-top: 10%;
    margin-bottom: 1%;
    font-size: 1.2vw;
    line-height: 1.2em;
    font-weight: bold;
}

.produce .detail .description {
    margin: 0;
    margin-bottom: 3%;
    display: inline-block;
    font-size: 0.9vw;
    line-height: 1.5em;
    text-transform: none;
}


.produce .detail .container {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

.produce .detail .price-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 0.84vw;
    font-weight: bold;
}

.produce .old-price {
    text-decoration: line-through;
}

.produce .price {
    font-size: 1.2vw;
    font-weight: bold;
}

.produce .item .button {
    width: 8.4vw;
}

.hidden {
    visibility: hidden;
}


/*footer*/
footer {
    padding: 0;
    margin: 0;
}

footer > .center-wrapper {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 2vw;
}

footer .social {
    padding: 0;
    margin: 0;
    background-color: #f4f7f6;
    width: 100%;
    display: flex;
    margin-bottom: 3.2vw;
}

footer .links {
    display: flex;
    list-style: none;
    margin: 2.5%;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer .links-item {
    padding: 0;
    margin: 0;
    margin-right: 1.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer .links-item:last-child {
    margin-right: 0;
}

footer .social .link {
    padding: 0;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1.2vw;
    height: 1.2vw;
    font-size: 0.8vw;
}


footer .social .pinterest {
    background-image: url("../svg/001-pinterest.svg");
}

footer .social .facebook {
    background-image: url("../svg/002-facebook-logo.svg");
}

footer .social .tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

footer .social .twitter {
    background-image: url("../svg/004-twitter.svg");
}

footer .social .instagram {
    background-image: url("../svg/005-instagram.svg");
}

footer .copyright {
    display: flex;
    justify-content: center;
    font-family: "Open Sans";
    color: #999999;
    font-size: 0.72vw;
    font-weight: bold;
}

/*popup*/

.label {
    width: 100%;
    margin: 0;
    padding: 0;
}

.text-reader {
    margin: 0;
    padding: 0;
    font-size: 0;
    position: absolute;
}


.popup {
    position: fixed;
    font-size: 0.8vw;
    font-family: "Open Sans";
    color: #585858;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24vw;
    top: 14.2vw;
    left: calc(50% - 24vw / 2);
    z-index: 2;
}

.popup .title-header {
    margin-bottom: 0%;
}

.popup .input-field:first-child {
    margin-top: 0;
}

.popup .input-field {
    padding-top: 0;
    margin-top: 11%;
    width: 100%;
}

.popup .input-ask {
    display: inline-block;
    margin-bottom: 2%;
}

body::after {
    display: none;
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
}

.popup .feedback {
    padding: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #FFF;

    padding-top: 15%;
    width: 100%;
    z-index: 10;
}

.popup .select-answer {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin: 0;
    width: 100%;
    font-size: inherit;
    line-height: 3.5em;
    background-color: #f4f7f6;
    border: none;
    font-family: "Open Sans";
    color: #585858;
    padding-left: 4%;

    background-image: url("../svg/form-arrows.svg");
    background-size: 0.6vw;
    background-repeat: no-repeat;
    background-position: right 4% center;
}

.select-answer:hover {
    outline: 0.02vw solid #b59f5b;
}

.select-answer:focus {
    outline: 0.02vw solid #b59f5b;
}

.popup .input-ask {
    display: block;
}

.popup .label-radio {
    display: inline;
    margin-right: 3%;
}

.radio-text::before {
    content: "";
    display: inline-block;

    width: 1.1vw;
    height: 1.1vw;

    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.1vw;
    vertical-align: middle;
    margin-right: 1.5%;
}

.radio:checked + .radio-text::before {
    background-image: url("../svg/form-circle.svg");
}

.radio {
    position: absolute;
    clip: rect(1vw, 1vw, 1vw, 1vw);
}

.text-area {
    height: 6.1vw;
    width: 90%;
    padding: 5%;
}


.text-area::placeholder {
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
}

.submit {
    margin-top: 6%;
}

.close {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    text-indent: -9999px;
    cursor: pointer;  

    width: 1em;
    height: 1em;
    font-size: 2vw;
    border: none;
  
    position: absolute;
    top: -2vw;
    right: -0.5vw;  
    background-image: url("../svg/form-x.svg");
    background-size: 1.2vw;
    background-repeat: no-repeat;
    background-position: center center;
}
  
  .close:before, .close:after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
}