@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.woff") format("woff"), 
            url("../fonts/OpenSans-Regular.woff2") format("woff"),
            url("../fonts/OpenSans-Regular.ttf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.woff") format("woff"), 
            url("../fonts/OpenSans-Bold.woff2") format("woff"),
            url("../fonts/OpenSans-Bold.ttf") format("opentype");
    font-weight: bold;
}

body {
    font-family: "Open Sans";
    font-size: 16px;
    background-color: #FFF;
}

a {
    text-decoration: none;
    color: black;
}

/*  header*/
.main-header {
    position: relative;
    width: 100%;
    height: 27.1vw;
    background-color: gray;
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    
}

.main-header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #000;
    opacity: 0.6;
}

.center-wrapper {
    margin: 0 13.1vw;
    padding: 1.5vw 1vw;
    display: flex;
    flex-direction: column;
}


.main-header .center-wrapper > .container{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.main-header div.title {
    margin: 6.5% auto;
    /*background-color: green;*/
    text-align: center;
    width: 41.5vw;
}

.main-header h1 {
    color: #FFF;
    font-weight: bold;
    font-size: 2.7vw;
    line-height: 1.67em;
    text-transform: uppercase;
}


.main-header .panel {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main-header .navbar {
    width: 50%;
    display: inline-block;
    /*background-color: blue;*/
}

.main-header .navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: flex-start;
    list-style: none;
}

.main-header .navbar li {
    margin: 0;
    padding: 0;
    line-height: 2em;
    list-style: none;
    margin-left: 5.5%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8vw;
}

.main-header .navbar a {
    color: #FFF;
}

.main-header .navbar a:hover {
    text-decoration: underline;
}

.main-header .logo {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 10.7vw;
    /*background-color: blue;*/
}


/* main */

main {
    background-color: #FFF;
}

main header.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   
}

main header.title h2 {
    display: inline-block;
    margin: 0 auto;
}


/* main trends*/
main .trends {
    margin: 0;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0; 
    color: #000;
    text-align: center;
    background-color: #FFF;
    text-transform: uppercase;
}

main .trends .title {
    position: relative;
    padding: 0;
    margin-bottom: 2%;
}

.title h2 {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    font-size: 1.2vw;
    display: inline-block;
    color: #000;
    text-transform: uppercase;
}

.title h2::after {
    display: block;
    margin: 0 auto;
    margin-top: 0.5em;
    content: "";
    width: 4vw;
    height: 0.2vw;
    background-color: #e1d9bd;
}

main .trends ul {
    display: flex;
    list-style: none;
}

main .trends .posts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .trends .post {
    width: 24.8%;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0.2%;
    margin-bottom: 0.2%;
    height: 19.3vw;
}

main .trends .post:nth-child(4n) {
    margin-right: 0;
}



main .trends .post ul a:hover {
    text-decoration: underline;
}

main .trends .post h3 a {
    color: #FFF;
}

main .trends .post h3 a:hover {
    color: #b59f5b;
}

main .trends .post:last-child {
    margin-right: 0;
}

main .trends .post::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #000;
    opacity: 0.6;
}

main .trends .post:nth-child(1) {
    background-image: url("../images/trend1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main .trends .post:nth-child(2) {
    background-image: url("../images/trend2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main .trends .post:nth-child(3) {
    background-image: url("../images/trend3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main .trends .post:nth-child(4) {
    background-image: url("../images/trend4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main .trends .post .info {
    border: 0.2vw solid #918156;
    margin: 5% 5%;
    margin-top: auto;
    position: relative;
    z-index: 1;
    font-weight: bold;
    padding: 5% 5%;
    padding-bottom: 8%;
}

main .trends .post h3 {
    padding: 0;
    margin: 0;
    width: 100%;
    color: #FFF;
    font-size: 1.2vw;
    line-height: 1.2em;
    text-align: start;
}

.category {
    padding: 0;
    margin: 0;
    font-size: 0.8vw;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.8em;
    display: flex;
    list-style: none;
    flex-wrap: wrap;

}

.category a {
    margin: 0;
    padding: 0;
    color: #b59f5b;

}

.category li {
    margin: 0;
    margin-right: 5%;
    padding: 0;
}

/* main content*/

main > .center-wrapper {
    background-color: #FFF;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 3.8vw;
    margin-bottom: 3.8vw;
    
}

/* main posts*/
main > .center-wrapper > .container {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

/* main posts*/
main > .center-wrapper > .container > .posts {
    padding: 0;
    margin: 0;
    min-width: 63%;
    max-width: 63%;
    margin-right: 13%;
}

main > .center-wrapper > .container > section.posts .post {
    display: flex;
    justify-content: space-between;
    height: 18vw;
    padding: 0;
    margin: 0;
    margin-bottom: 8%;
}

main > .center-wrapper > .container >  section.posts .post:last-child {
    margin-bottom: 0;
}

main > .center-wrapper > .container >  section.posts .post-info {
    padding: 0;
    margin: 0;
    margin-top: -0.5%;
}

main > .center-wrapper > .container >  section.posts .post-title {
    padding: 0;
    margin: 0;
    font-size: 1.2vw;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 1%;
    color: black;
}

main > .center-wrapper > .container >  section.posts .post-title a:hover {
    color: #b59f5b;
}

main > .center-wrapper > .container >  section.posts .category a:hover {
    text-decoration: underline;
}

main > .center-wrapper > .container >  section.posts img {
    margin-right: 3%;
    width: 46%;
    min-width: 46%;
    background-color: #eff6f1;
}

.publish-date {
    font-size: 0.7vw;
    line-height: 3.3em;
    color: #989898;
    margin-right: 2%;
}

.author {
    font-size: 0.7vw;
    line-height: 3.3em;
    font-weight: bold;
}

main > .center-wrapper > .container >  section.posts .post-description {
    font-family: "Open Sans";
    padding: 0;
    margin-top: 10%;
    font-size: 0.9vw;
    line-height: 1.5em;
    color: #000;
}

/* main aside*/
main aside {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 17vw;
}

main .sidebar .flex-container {
    margin: 0;
    margin-top: 19%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

main .sidebar  .new-posts {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 0;
}

main aside.sidebar .title {
    padding: 0;
    margin-top: 0;
    text-align: center;
    margin-bottom: 10%;
    display: flex;
    display: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

main aside.sidebar header h2 {
    font-size: 0.8vw;
    line-height: 1.5em;
}

main .sidebar h3 {
    margin: 0;
    bottom: 0;
    font-size: 0.84vw;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
}


main .sidebar .publish-date {
    margin: 0;
    padding: 0;
}

main .sidebar .post {
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    height: 4.3vw;
    font-size: 0.8vw;
    margin-bottom: 7%;
}

main .sidebar img {
    margin: 0;
    display: flex;
    height: auto;
    margin-right: 7%;
}

main .sidebar .post-info {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main .sidebar .post-info span {
    display: inline-block;
    line-height: 1em;
    margin-bottom: 2%;
}

main .sidebar button {
    font-family: "Open Sans";
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    margin-top: auto;
    background-color: #b59f5b;
    width: 20%;
    height: 3.0vw;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: left 50% center;
}

main .sidebar button:hover {
    background-color: black;
}

main .sidebar input {
    display: inline-block;
    margin: 0;
    width: 100%;
    font-size: 0.8vw;
    line-height: 3.5em;
    background-color: #f4f7f6;
    border: none;
    font-family: "Open Sans";
    color: #9b9c9c;
    padding-left: 6%;
}

main .sidebar form.search-form {
    display: flex;
    flex-direction: row;
    width: 100%;
}


main .sidebar input:hover {
    outline: 0.02vw solid #b59f5b;
}


main .sidebar .submit-form {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}



main .sidebar .submit-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main .sidebar .submit-form input {
    width: 93%;
}


main .sidebar .submit-form button {
    margin-top: 7%;
    width: 100%;
    background-image: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8vw;
    line-height: 3.5em;
    color: #FFF;
}

main .sidebar ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}


main .sidebar .tags header {
    width: 100%;
}

main .sidebar .tags li {
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 2%;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 0.72vw;
    padding: 2% 4%;
    border: 0.2vw solid #eeeeee;
    color: black;
}

main .sidebar  a:hover {
    color: #0f0d0e;
}

main .sidebar .tags li:hover {
    border-color: #b59f5b;
    color: #0f0d0e;
}

main .sidebar .tags li:hover {
    border-color: #b59f5b;
    color: #0f0d0e;
}


main .sidebar .tags li:hover {
    border-color: #b59f5b;
    color: #0f0d0e;
}

main .sidebar .category a {
    color: #000;
}

main .sidebar .category a:hover {
    color: #b59f5b;
}

main .sidebar .category ul {
    color: #000;
    text-transform: capitalize;
    flex-direction: column;
    font-size: 0.8vw;
    font-weight: bold;
    line-height: 3em;
    width: 100%;
}

main .sidebar .category li {
    border-bottom: 0.1vw solid #eeeeee;
    width: 100%;
}

main .sidebar .category header {
    text-align: center;
    margin: 0 auto;
}

main .sidebar .category li .counter{
    color: #b59f5b;
}

/* main shop*/

main .produce {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 0; 
    color: #000;
    text-align: center;
    background-color: #FFF;
    text-transform: uppercase;
}

main .produce .items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

main .produce .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

main .produce .item img {
    width: 18vw;
    background-color: #eff6f1;
}

main .produce .item .detail {
    margin-top: -2vw;
    width: 18vw;
    padding: 1vw;
    border: 0.2vw solid #b59f5b;
    font-family: "Open Sans";
    text-align: start;
    color: #000;
    height: 13vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main .produce .item a {
    color: #b59f5b;
}

main .produce .item a:hover {
    text-decoration: underline;
}

main .produce .item .detail h3 {
    display: inline-block;
    margin-top: 10%;
    margin-bottom: 0;
    font-size: 1.2vw;
    line-height: 1.2em;
    font-weight: bold;
}

main .produce .item .detail p {
    display: inline-block;
    margin-top: 0;
    font-size: 0.9vw;
    line-height: 1.5em;
    text-transform: none;
}

main .produce .item span{
    display: inline-block;
}

main .produce .item .detail .container {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    height: 2.7vw;
}

main .produce .item .detail .price-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 0.84vw;
    line-height: 1em;
    font-weight: bold;
}

main .produce .item .detail .old-price {
    text-decoration: line-through;
}

main .produce .item .detail .price {
    font-size: 1.2vw;
    line-height: 1em;
    font-weight: bold;
}

main .produce .item .button {
    text-align: center;
    background-image: none;
    background-color: #b59f5b;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8vw;
    line-height: 3.5em;
    color: #FFF;
    width: 8.4vw;
}

main .produce .item a.button:hover {
    text-decoration: none;
    background-color: black;
}

.hidden {
    visibility: hidden;
}

main footer {
    padding: 0;
    margin: 0;
}

/*footer*/
footer > .center-wrapper {
    margin-top: -1vw;
    margin-bottom: 0;
}

footer .social {
    padding: 0;
    margin: 0;
    background-color: #f4f7f6;
    height: 4.8vw;
    width: 100%;
    display: flex;
    margin-bottom: 3.2vw;
}

footer .social .links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer .social .links li {
    padding: 0;
    margin: 0 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer .social .links li a {
    padding: 0;
    display: inline-block;
    font-size: 0.8vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1.2vw;
    height: 1.2vw;
    font-size: 0.8vw;
}


footer .social .links li a.pinterest {
    background-image: url("../svg/001-pinterest.svg");
}

footer .social .links li a.facebook {
    background-image: url("../svg/002-facebook-logo.svg");
}

footer .social .links li a.tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

footer .social .links li a.twitter {
    background-image: url("../svg/004-twitter.svg");
}

footer .social .links li a.instagram {
    background-image: url("../svg/005-instagram.svg");
}

footer .copyright {
    display: flex;
    justify-content: center;
    height: 2.5vw;
    font-family: "Open Sans";
    color: #999999;
    font-size: 0.72vw;
    font-weight: bold;
    line-height: 3.5em;
}
