@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.woff") format("woff"), 
            url("../fonts/OpenSans-Regular.woff2") format("woff"),
            url("../fonts/OpenSans-Regular.ttf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.woff") format("woff"), 
            url("../fonts/OpenSans-Bold.woff2") format("woff"),
            url("../fonts/OpenSans-Bold.ttf") format("opentype");
    font-weight: bold;
}

body {
    font-family: "Open Sans";
    font-size: 16px;
    background-color: #FFF;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.center-wrapper {
    margin: 0 13vw;
    padding: 1.5vw 2vw;
}

/*  header*/
.main-header {
    position: relative;
    width: 100%;
    background-color: gray;
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    
}

.main-header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #000;
    opacity: 0.6;
}

.topic {
    margin: 0 auto;
    margin-top: 8.5%;
    /*background-color: green;*/
    text-align: center;
    width: 41.5vw;
}

.topic h1 {
    color: #FFF;
    font-weight: bold;
    font-size: 2.7vw;
    line-height: 1.67em;
    text-transform: uppercase;
    padding-bottom: 10%;
}

.panel {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: inline-block;
    /*background-color: blue;*/
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: flex-start;
    list-style: none;
}

.navbar li {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 10.5%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8vw;
}

.navbar li:first-child {
    margin-left: 0;
}

.navbar a {
    color: #FFF;
}

.navbar a:hover {
    text-decoration: underline;
}

.logo {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 10.7vw;
    /*background-color: blue;*/
}

/* trends*/
.trends {
    margin: 0;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0; 
    color: #000;
    text-align: center;
    background-color: #FFF;
    text-transform: uppercase;
}

.trends .title {
    position: relative;
    padding: 0;
    margin-bottom: 2%;
}

.title h2 {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    font-size: 1.2vw;
    display: inline-block;
    color: #000;
    text-transform: uppercase;
}

.title h2::after {
    display: block;
    margin: 0 auto;
    margin-top: 0.5em;
    content: "";
    width: 4vw;
    height: 0.2vw;
    background-color: #e1d9bd;
}

.trends ul {
    display: flex;
    list-style: none;
}

.trends .posts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.trends .post {
    width: 24.8%;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 0.15%;
    margin-bottom: 0.15%;
    min-height: 19.3vw;
}

.trends .post:nth-child(4n) {
    margin-right: 0;
}

.trends a:hover {
    text-decoration: underline;
}

.trends a {
    color: #FFF;
}

.trends h3 a:hover {
    color: #b59f5b;
}

.trends .post:last-child {
    margin-right: 0;
}

.trends .post::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #000;
    opacity: 0.6;
}

.trends .post-1 {
    background-image: url("../images/trend1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.trends .post-2 {
    background-image: url("../images/trend2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.trends .post-3 {
    background-image: url("../images/trend3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.trends .post-4 {
    background-image: url("../images/trend4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.trends .post-info {
    border: 0.2vw solid #918156;
    margin: 5% 5%;
    position: relative;
    z-index: 1;
    font-weight: bold;
    padding: 5% 5%;
    padding-bottom: 8%;
}

.trends .post-header {
    padding: 0;
    margin: 0;
    width: 100%;
    color: #FFF;
    font-family: "Open Sans";
    font-size: 1.2vw;
    line-height: 1.2em;
    text-align: start;
}

.category {
    padding: 0;
    margin: 0;
    font-size: 0.8vw;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.8em;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.category a {
    margin: 0;
    padding: 0;
    color: #b59f5b;

}

.category li {
    display: inline-block;
    margin: 0;
    margin-right: 5%;
    padding: 0;
}

.category li:last-child {
    margin-right: 0;
}

/* main content*/

body > .center-wrapper {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 3.6vw;
    margin-bottom: 3.6vw;
}

.center-wrapper .container {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.post-info {
    padding: 0;
    margin: 0;
}

/*posts*/
.main-posts {
    padding: 0;
    margin: 0;
    width: 46.5vw;
}

.main-posts .post {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-bottom: 8%;
}

.main-posts .post:last-child {
    margin-bottom: 0;
}

.main-posts .post-title {
    padding: 0;
    margin: 0;
    font-size: 1.2vw;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    margin-bottom: 8%;
}

.main-posts .post-title a:hover {
    color: #b59f5b;
}

.main-posts .category {
    line-height: 1em;
    margin-bottom: 2%;
}

.main-posts .category a:hover {
    text-decoration: underline;
}

.main-posts img {
    margin-right: 3%;
    width: 24vw;
    height: 18vw;
    background-color: #eff6f1;
}

.publish-date {
    font-size: 0.7vw;
    color: #989898;
    margin-right: 2%;
}

.publication {
    display: flex;
}

.author {
    font-size: 0.7vw;
    font-weight: bold;
}

.main-posts .post-description {
    font-family: "Open Sans";
    padding: 0;
    margin-top: 10%;
    font-size: 0.9vw;
    line-height: 1.5em;
    color: #000;
}

/* aside*/
.sidebar {
    margin: 0;
    padding: 0;
    width: 16.2vw;
}

.sidebar .flex-container {
    margin: 0;
    margin-top: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.sidebar .new-posts {
    width: 100%;
    margin: 0;
    padding: 0;
}

.sidebar .title {
    padding: 0;
    margin-top: 0;
    text-align: center;
    margin-bottom: 12%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.sidebar header h2 {
    font-size: 0.8vw;
    line-height: 1.5em;
}

.sidebar h3 {
    margin: 0;
    bottom: 0;
    font-size: 0.84vw;
    line-height: 1.2em;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
}


.sidebar .publish-date {
    margin: 0;
    padding: 0;
}

.sidebar .post {
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    font-size: 0.8vw;
    margin-bottom: 7%;
}

.sidebar .post-image {
    background-color: #eff6f1;
    margin: 0;
    max-width: 4.7vw;
    max-height: 4.2vw;
    margin-right: 7%;
}

.sidebar .post-info span {
    display: inline-block;
    line-height: 1em;
    margin-bottom: 2%;
}

.sidebar button {
    font-family: "Open Sans";
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    margin-top: auto;
    background-color: #b59f5b;
    width: 20%;
    height: 3.0vw;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: left 50% center;
}

.sidebar button:hover {
    background-color: black;
}

.sidebar input {
    display: inline-block;
    margin: 0;
    width: 100%;
    font-size: 0.8vw;
    line-height: 3.5em;
    background-color: #f4f7f6;
    border: none;
    font-family: "Open Sans";
    color: #9b9c9c;
    padding-left: 6%;
}

.sidebar .search-form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sidebar input:hover {
    outline: 0.02vw solid #b59f5b;
}


.sidebar .submit-form input {
    width: 93%;
}


.sidebar .submit-form button {
    margin-top: 7%;
    width: 100%;
    background-image: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8vw;
    color: #FFF;
}

.sidebar ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.sidebar .tags li {
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 2%;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 0.72vw;
    padding: 2% 4%;
    border: 0.2vw solid #eeeeee;
    color: black;
}

.sidebar  a:hover {
    color: #0f0d0e;
}

.sidebar .category a {
    color: #000;
}

.sidebar .category a:hover {
    color: #b59f5b;
}

.sidebar .category ul {
    color: #000;
    text-transform: capitalize;
    flex-direction: column;
    font-size: 0.85vw;
    font-weight: bold;
    width: 100%;
}

.sidebar .category li {
    border-bottom: 0.1vw solid #eeeeee;
    padding-bottom: 3%;
    margin-bottom: 3%;
}

.sidebar .counter {
    vertical-align: super;
    font-size: 0.8em;
}

.sidebar .category li .counter{
    color: #b59f5b;
}

/* main shop*/
.produce {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 0; 
    color: #000;
    text-align: center;
    background-color: #FFF;
    text-transform: uppercase;
}

.produce .items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.produce .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.produce .item img {
    width: 18vw;
    background-color: #eff6f1;
}

.produce .item .detail {
    margin-top: -2vw;
    width: 18vw;
    padding: 1vw;
    border: 0.2vw solid #b59f5b;
    font-family: "Open Sans";
    text-align: start;
    color: #000;
    height: 13vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.produce .item a {
    color: #b59f5b;
}

.produce .item a:hover {
    text-decoration: underline;
}

.produce .item .detail h3 {
    display: inline-block;
    margin-top: 10%;
    margin-bottom: 0;
    font-size: 1.2vw;
    line-height: 1.2em;
    font-weight: bold;
}

.produce .item .detail p {
    display: inline-block;
    margin-top: 0;
    font-size: 0.9vw;
    line-height: 1.5em;
    text-transform: none;
}

.produce .item span {
    display: inline-block;
}

.produce .item .detail .container {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    height: 2.7vw;
}

.produce .item .detail .price-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 0.84vw;
    line-height: 1em;
    font-weight: bold;
}

.produce .item .detail .old-price {
    text-decoration: line-through;
}

.produce .item .detail .price {
    font-size: 1.2vw;
    line-height: 1em;
    font-weight: bold;
}

.produce .item .button {
    text-align: center;
    background-image: none;
    background-color: #b59f5b;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8vw;
    line-height: 3.5em;
    color: #FFF;
    width: 8.4vw;
}

.produce .item a.button:hover {
    text-decoration: none;
    background-color: black;
}

.hidden {
    visibility: hidden;
}


/*footer*/
footer {
    padding: 0;
    margin: 0;
}

footer > .center-wrapper {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 2vw;
}

footer .social {
    padding: 0;
    margin: 0;
    background-color: #f4f7f6;
    width: 100%;
    display: flex;
    margin-bottom: 3.2vw;
}

footer .links {
    display: flex;
    list-style: none;
    margin: 2.5%;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer li {
    padding: 0;
    margin: 0;
    margin-right: 1.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer li:last-child {
    margin-right: 0;
}

footer .social .links li a {
    padding: 0;
    display: inline-block;
    font-size: 0.8vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1.2vw;
    height: 1.2vw;
    font-size: 0.8vw;
}


footer .social .links li a.pinterest {
    background-image: url("../svg/001-pinterest.svg");
}

footer .social .links li a.facebook {
    background-image: url("../svg/002-facebook-logo.svg");
}

footer .social .links li a.tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

footer .social .links li a.twitter {
    background-image: url("../svg/004-twitter.svg");
}

footer .social .links li a.instagram {
    background-image: url("../svg/005-instagram.svg");
}

footer .copyright {
    display: flex;
    justify-content: center;
    font-family: "Open Sans";
    color: #999999;
    font-size: 0.72vw;
    font-weight: bold;
}
